.footer {
    background-color: #313131;
    width: 100%;

    .section1 {
        padding: 20px;
        margin: auto;
        display: flex;
        width: 1200px;
        max-width: 100%;
        color: white;

        .container {
            width: 1200px;
            margin: auto;
            display: flex;

            .logo {
                width: 177px;
                display: flex;
                align-items: center;
                flex-direction: column;

                .logoContainer {
                    position: relative;
                    width: 177px;
                    height: 130px;
                }

                p {
                    font-size: 12px;
                    margin-top: 5px;
                    text-align: center;
                    color: white;
                    font-weight: 900;
                }
            }

            .socialMedia {
                min-width: 210px;
                h3 {
                    margin-bottom: 15px;
                }

                .content {
                    display: flex;

                    .item {
                        margin-left: 15px;
                        filter: invert(180%);
                        user-select: none;
                    }
                }
            }

            .sections {
                width: 100%;
                margin: 0 50px;
                h3 {
                    margin-bottom: 10px;
                }

                .content {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 10px;

                    a {
                        padding: 8px 10px;
                        font-size: 16px;
                        border-right: 3px solid;
                    }
                }
            }

            .news {
            }
        }
    }

    .section2 {
        background-color: #007aff;
        color: white;
        text-align: center;
        width: 100%;
        padding: 10px;
        font-size: 15px;

        a {
            margin: 5px;
            text-decoration: underline;
            white-space: nowrap;
        }

        .contentContainer {
            display: flex;
            justify-content: space-between;
            width: 1200px;
            max-width: 100%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 850px) {
    .footer {
        .section1 {
            .container {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-row-gap: 30px;

                .logo {
                    grid-column: 1 / 2;

                    .logoContainer {
                    }

                    p {
                    }
                }

                .socialMedia {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    grid-column: 2 / 5;

                    h3 {
                        margin-bottom: 25px;
                    }

                    .content {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        .item {
                        }
                    }
                }

                .sections {
                    grid-column: 2 / 6;
                    margin: 0;
                    width: initial;
                    margin-right: 50px;

                    h3 {
                    }

                    .content {
                        a {
                        }
                    }
                }

                .news {
                }
            }
        }

        .section2 {
            a {
            }

            .contentContainer {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .footer {
        .section1 {
            .container {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 20px;

                .logo {
                    grid-column: 1 / 2;
                    width: 100%;

                    .logoContainer {
                    }

                    p {
                    }
                }

                .socialMedia {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    grid-column: 1 / 2;

                    h3 {
                        margin-bottom: 25px;
                    }

                    .content {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        .item {
                        }
                    }
                }

                .sections {
                    margin: 0;
                    grid-column: 1 / 2;

                    h3 {
                        margin-bottom: 20px;
                    }

                    .content {
                        a {
                        }
                    }
                }

                .news {
                }
            }
        }

        .section2 {
            a {
            }
        }
    }
}
