*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

html,
body {
    font-family: "Almarai", sans-serif;
}

html {
    // overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
    border: 1px solid rgb(2, 135, 254) !important;
    border-radius: 10px !important;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    height: 40px !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    width: 40px !important;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: black;
    font-size: 20px !important;
}

.swiper-button-disabled {
    display: none !important;
}

.swiper-container {
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100vh !important;
    min-height: 0 !important;
    min-width: 0 !important;
}

.textParserContainer {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400 !important;
        font-family: "Almarai", sans-serif !important;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        max-width: 100% !important;
        font-size: 17px !important;
        font-weight: 300 !important;
        font-family: "Almarai", sans-serif !important;
        line-height: 25px !important;

        span {
            max-width: 100% !important;

            font-size: 17px !important;
            font-weight: 300 !important;
            font-family: "Almarai", sans-serif !important;
        }
    }

    img {
        width: 100% !important;
        border-radius: 0 !important;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 204, 204);
}

#nprogress .bar {
    background: #007aff !important;
}

.img-input-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.img-input-container {
    position: relative;
    width: 100%;
    &:after {
        content: "";
        display: block;
        padding-bottom: 54.4%;
    }
}

.readers-container {
    display: flex;
    align-items: center;

    p {
        margin: 0 5px;
    }
}

.file-container {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    &:after {
        content: "";
        display: block;
        padding-bottom: 70%;
        transform: translate();
    }
}

.file-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #666666;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

.ltr {
    direction: ltr !important;
}

th,
td {
    text-align: start !important;
}

.admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid whitesmoke;
}

.grid-root {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.share-news {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    p {
        margin-left: 10px;
    }

    ul {
        display: flex;
        align-items: center;
        height: 100%;

        li {
            margin-left: 5px;
            list-style: none;
            display: flex;
            align-items: center;
        }
    }
}

// GLOBAL HEADING STYLES
.author-title {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
    h1 {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 30px;
        text-transform: uppercase;
        margin-bottom: -1px;
        span {
            display: inline-block;
            padding-bottom: 16px;
            padding-right: 5px;
            border-bottom: 1px solid #0287fe;
        }
    }
}

.tabs-styles {
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.adv-wide-box {
    width: 100%;
    height: 90px;
    position: relative;
    margin-bottom: 30px;
    padding: 7px 0 12px;
}

.text-area {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 500px;
    padding: 10px 20px;
    background: #fafafa;
    color: #333333;
    font-size: 13px;
    outline: none;
    border: 1px solid #e1e1e1;
}

.form-input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    background: #fafafa;
    color: #333333;
    font-size: 13px;
    outline: none;
    border: 1px solid #e1e1e1;
}

.form-label {
    display: block;
    width: 100%;
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 16px;
    cursor: pointer;
}

.tag {
    display: inline-block;
    color: #999999;
    font-size: 12px;
    padding: 6px 9px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
        background-color: rgb(2, 135, 254);
        color: white;
    }
}

// Side Bar
.news-side-bar {
    position: sticky;
    top: 70px;

    .side-bar-adv {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        position: relative;
    }
    .side-bar-tags {
        overflow: hidden;
        a {
            display: inline-block;
            color: #999999;
            font-size: 12px;
            padding: 6px 9px;
            border: 1px solid #f0f0f0;
            border-radius: 3px;
            margin: 3px;
            cursor: pointer;
            transition: 0.2s ease-in;
        }
        a:hover {
            background-color: rgb(2, 135, 254);
            color: white;
        }
    }
}

@media screen and (max-width: 800px) {
    .side-bar-adv {
        display: none;
    }
}

.overlay {
    cursor: pointer;
}

// Hover Box
.hover-box {
    position: relative;
    width: 100%;
    height: 100%;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.226);
        transition: 0.2s ease-in;
        z-index: 1;
    }
    .box-img {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .box-text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 0 40px;
        text-align: center;
        margin-top: -40px;
        z-index: 2;
        h2 {
            color: #ffffff;
            font-weight: 700;
            margin: 0 0 10px;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 7px;
            margin-top: 10px;
            max-height: 48px;
            overflow: hidden;
            transition: 0.2s ease-in;
        }
        li {
            display: inline-block;
            margin-right: 7px;
            color: #ccc;
            font-size: 12px;
            font-style: italic;
            cursor: pointer;
            span:hover {
                color: #0287fe;
            }
        }
    }
}

.hover-box:hover {
    .overlay {
        background-color: rgba(0, 0, 0, 0.411);
    }
    h2 {
        color: #0287fe;
    }
}

// Small News
.small-news {
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #f0f0f0;
    .news-img {
        width: 50%;
    }
    .news-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 10px;

        div {
            display: flex;
        }

        a {
            color: #999999;
            display: inline-block;
            transition: 0.2s ease-in;
        }
        a:hover {
            color: #0287fe;
        }
        span {
            display: block;
            color: #999999;
            font-size: 12px;
            font-weight: 400;
            font-style: italic;
        }
    }
}

// Medium News
.medium-news {
    width: 100%;
    position: relative;
    .overlay {
        width: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        transition: 0.2s ease-in;
        background: rgba(34, 34, 34, 0.8);
        a {
            color: white;
        }
    }
    .overlay:hover {
        background-color: #0287fe;
    }
}

.news-img {
    position: relative;
    cursor: pointer;
    width: 100%;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 56.6%;
    }
}

// Large News
.large-news {
    width: 100%;
    .img-wrapper {
        position: relative;
        a {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: #ffffff;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 4px 10px;
            border-radius: 2px;
        }
    }

    // Content
    .news-content {
        padding-top: 15px;
        h2 {
            color: #333333;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 10px;
            transition: 0.3s ease-in;
        }

        h2:hover {
            color: #0287fe;
        }
        li {
            display: inline-block;
            margin-right: 7px;
            color: #999999;
            font-size: 12px;
            font-style: italic;
            span:hover {
                color: #0287fe;
            }
        }
    }
}

.banner-card {
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    height: 100%;
    margin: 1px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    .overlay {
        position: absolute;
        overflow: hidden !important;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .card-content {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 20px;
            background: rgba(17, 17, 17, 0);
            background: linear-gradient(
                to bottom,
                rgba(17, 17, 17, 0) 0%,
                rgba(17, 17, 17, 0.1) 10%,
                rgba(17, 17, 17, 0.95) 100%
            );
            transition: all 0.4s ease-in-out;
            p {
                cursor: pointer;
                color: #ffffff;
                line-height: 20px;
                margin: 0 0 10px;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;
            }
            h2:hover {
                color: #0287fe;
            }
            li {
                display: inline-block;
                margin-right: 7px;
                color: #999999;
                font-size: 12px;
                font-style: italic;
                cursor: pointer;
                span:hover {
                    color: #0287fe;
                }
            }
            a {
                display: inline-block;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                color: #ffffff;
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 4px 10px;
                border-radius: 2px;
                margin-bottom: 15px;
            }
        }
    }
}

.page {
    width: 100%;
    min-height: 100vh;
    margin: 50px 0;
    .content-area {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 320px) {
    .large-news {
        .img-wrapper {
            // height: 400px;
        }
    }
    .medium-news {
        height: 225px;
    }
    .container {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .large-news {
        // .img-wrapper {
        //     height: 320px;
        // }
    }
    .medium-news {
        height: 255px;
    }
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .large-news {
        // .img-wrapper {
        //     height: 200px;
        // }
    }
    .medium-news {
        height: 133px;
    }
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
