.page {
    width: 100%;
    min-height: 100vh;

    .container {
        width: 1200px;
        max-width: 95%;
    }

    .filesContainer {
        width: 1200px;
        max-width: 95%;
        margin: 30px auto;
    }

    .mainSection {
        width: 1200px;
        max-width: 95%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;

        .content {
            grid-column: 1 / 4;
            width: 100%;
            grid-row: 1 / 2;
        }

        .aside {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
    }

    // Swiper
    .swiper {
        padding: 30px 0 20px;
        background: #fafafa;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;

        .swiperWrapper {
            width: 100%;
        }
        .swiperItem {
            width: 100%;
            position: relative;
            overflow: hidden;
        }
    }

    .banner {
        overflow: hidden;
        margin-top: -1px;
    }

    // Section -1-
    .section {
        padding: 30px 0 60px;
        position: relative;
        box-sizing: border-box;

        .sectionItem {
            margin: 0 0 10px;
        }
        .itemImg {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

.introSection {
    position: relative;
    width: 100%;
    .introContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .introContainer {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-gap: 1px;
            grid-template-areas:
                "a c c d f h"
                "a c c d f h"
                "b c c e g i"
                "b c c e g i";

            .introItem {
                width: 100%;
                height: 100%;
            }

            .introItem1 {
                grid-area: a;
            }
            .introItem2 {
                grid-area: b;
            }
            .introItem3 {
                grid-area: c;
            }
            .introItem4 {
                grid-area: d;
            }
            .introItem5 {
                grid-area: e;
            }
            .introItem6 {
                grid-area: f;
            }
            .introItem7 {
                grid-area: g;
            }
            .introItem8 {
                grid-area: h;
            }
            .introItem9 {
                grid-area: i;
            }
        }
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 22.25%;
    }
}

@media screen and (max-width: 1650px) {
    .introSection {
        .introContent {
            .introContainer {
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas:
                    "a a c c c c d d"
                    "a a c c c c d d"
                    "b b c c c c e e"
                    "b b c c c c e e"
                    "f f h h g g i i"
                    "f f h h g g i i";
            }
        }

        &:after {
            padding-bottom: 48%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .introSection {
        .introContent {
            .introContainer {
                grid-template-columns: repeat(9, 1fr);
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas:
                    "f f f b b b a a a"
                    "e e e c c c d d d"
                    "g g g h h h i i i";
            }
        }

        &:after {
            padding-bottom: 70%;
        }
    }
}

@media screen and (max-width: 900px) {
    .introSection {
        .introContent {
            .introContainer {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas:
                    "c c"
                    "c c"
                    "a b"
                    "d e"
                    "f g"
                    "h i";
            }
        }

        &:after {
            padding-bottom: 190%;
        }
    }
}

@media screen and (max-width: 800px) {
    .page {
        .mainSection {
            grid-template-columns: 1fr;

            .content {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            .aside {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .introSection {
        .introContent {
            .introContainer {
                display: flex;
                flex-direction: column;
                .introItem1 {
                    order: 2;
                }
                .introItem2 {
                    order: 3;
                }
                .introItem3 {
                    order: 1;
                }
                .introItem4 {
                    order: 4;
                }
                .introItem5 {
                    order: 5;
                }
                .introItem6 {
                    order: 6;
                }
                .introItem7 {
                    order: 7;
                }
                .introItem8 {
                    order: 8;
                }
                .introItem9 {
                    order: 9;
                }
            }
        }

        &:after {
            padding-bottom: 550%;
        }
    }
}
