.page {
    width: 100%;
    min-height: 100vh;
    margin: 0 0 2rem;

    // Swiper
    .swiper {
        padding: 30px 0 20px;
        background: #fafafa;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;

        .swiperWrapper {
            width: 100%;
        }
        .swiperItem {
            width: 100%;
            position: relative;
            overflow: hidden;
        }
    }

    // // Banner
    .banner {
        overflow: hidden;
        margin-top: -1px;
    }

    // Section -1-
    .section {
        padding: 30px 0 60px;
        position: relative;
        box-sizing: border-box;

        .sectionItem {
            margin: 0 0 10px;
        }
        .itemImg {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

.introSection {
    position: relative;
    width: 100%;
    .introContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 1px;
        grid-template-areas:
            "a c c d f h"
            "a c c d f h"
            "b c c e g i"
            "b c c e g i";

        .introItem {
            width: 100%;
            height: 100%;
        }

        .introItem1 {
            grid-area: a;
        }
        .introItem2 {
            grid-area: b;
        }
        .introItem3 {
            grid-area: c;
        }
        .introItem4 {
            grid-area: d;
        }
        .introItem5 {
            grid-area: e;
        }
        .introItem6 {
            grid-area: f;
        }
        .introItem7 {
            grid-area: g;
        }
        .introItem8 {
            grid-area: h;
        }
        .introItem9 {
            grid-area: i;
        }
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 28%;
    }
}

@media (min-width: 320px) {
    .itemImg {
        height: 370px;
    }
}
@media (min-width: 768px) {
    .itemImg {
        height: 200px;
    }
}
@media (min-width: 992px) {
    .itemImg {
        height: 240px;
    }
}

@media (min-width: 1200px) {
    .itemImg {
        height: 300px;
    }
}
