.page {
    width: 100%;
    min-height: 100vh;
    margin: 2rem 0;
    .container {
        display: flex;
        .newsContent {
            width: auto;
            height: 100%;
            padding: 0 15px;
            .newsHeading {
                padding: 0 20px 25px;
                margin-bottom: 12px;
                border-bottom: 1px solid #f0f0f0;
                h1 {
                    color: #333333;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 30px;
                    margin-bottom: 8px;
                }

                ul {
                    li {
                        display: inline-block;
                        margin-right: 7px;
                        color: #999999;
                        font-size: 12px;
                        font-style: italic;
                        a {
                            cursor: pointer;
                            color: #999999;
                        }
                    }
                }
            }

            .newsContent {
                margin-bottom: 20px;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }

            .newsContent * {
                text-align: start;
            }

            .newsImgsWrapper {
                max-width: 100%;
                min-height: 400px;
                height: 400px;
                margin-bottom: 20px;
            }

            .newsImgContainer {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .resource {
                font-size: 20px;
                color: rgb(2, 135, 254);
                margin-bottom: 10px;

                span {
                    margin: 0 2px;
                }

                span:last-child {
                    .coma {
                        display: none;
                    }
                }
            }

            .newsQoute {
                padding: 20px;
                margin-bottom: 15px;
                padding-left: 70px;
                background: #eeeeee;
                border: none;
                position: relative;
                p {
                    padding: 0 20px;
                    color: #222222;
                    font-size: 18px;
                    font-style: italic;
                    margin-bottom: 0;
                    line-height: 24px;
                }
            }
            .newsTags {
                margin: 15px 0;
                border-bottom: 1px solid #f0f0f0;
                padding: 0 20px 12px;
                ul {
                    li {
                        display: inline-block;
                        color: #666666;
                        font-size: 13px;
                        margin-right: 3px;
                        margin-bottom: 2px;
                        a {
                            display: inline-block;
                            cursor: pointer;
                            transition: 0.4s ease-in-out;
                            padding: 6px 10px;
                            border: 1px solid #efefef;
                            border-radius: 2px;
                            color: #999999;
                            font-size: 12px;
                        }
                        a:hover {
                            background-color: #222222;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
